<h1>Thêm mới sản phẩm</h1>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
    <div *ngIf="name.invalid && name.touched">
      <div *ngIf="name.errors.required">
        <p class="text-danger">Tên không được để trống</p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" class="form-control" formControlName="price">
    <div *ngIf="price.invalid && price.touched">
      <div *ngIf="price.errors.required">
        <p class="text-danger">Giá không được để trống</p>
      </div>
    </div>
  </div>
    <!--  <div class="form-group">-->
    <!--    <label>Image</label>-->
    <!--    <input type="file" class="form-control" name="image">-->
    <!--  </div>-->
    <button class="btn btn-primary" [disabled]="!addProductForm.valid">Add</button>
    <button class="btn btn-secondary" routerLink="/home">Cancel</button>
</form>

